.basket-wrapper {
    width:400px;
    background-color: white;
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.next-button {
    padding:10px;
    background-color: #086CFF;
    color:white;
    border-radius: 10px;
    border:0px;
    width: 100%;
}